# Default ignored files
/shelf/
/workspace.xml
echo "# Application-Project-Master" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/HemYavav/Application-Project-Master.git
git push -u origin main
